<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style="background-color:rgb(255, 99, 71);">
    <h1>Hello my name is {{ name }}</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeeX3Hr2WFsro1HxwRPqDdijCT4wZrqF4LOhXoLPU6ZTc3x3n_zQ" width="300px" height="400px">
    <article>I studying at {{ univ }}</article>
    <article>My hobby is {{ hobi }}</article>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>

    <h1>Hello his name is Samuel Dimas Partogi Siahaan</h1>
    <img src="https://i.imgur.com/MT4ojls.jpg" width="300px" height="400px">
    <article>He studying at {{ univ }}</article>
    <article>NPM : 1706074915</article>
    <article>He is 19 years old</article>

    <h1>Hello her name is Sherren Natasha</h1>
    <img src="https://i.ytimg.com/vi/5TyDk2PAaJ4/maxresdefault.jpg"  width="300px" height="400px">
    <article>She studying at {{ univ }}</article>
    <article>NPM : 1706074650</article>
    <article>She is 19 years old</article>

</body>
</html>
